<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block body_block %}
{% if location %}
<br>
<div class="container-fluid">
        <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Host</th>
                        <th scope="col">Country</th>
                        <th scope="col">City</th>
                        <th scope="col">Lat,Lon</th>
                        <th scope="col">Currency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in location %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{o.ip}}</td>
                        <td>{{o.country}}</td>
                        <td>{{o.city}}</td>
                        <td>{{o.latitude}}, {{o.longitude}}</td>
                        <td>{{o.currency}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endif %}

{% endblock %}