<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block body_block %}

<div class="container-fluid">
    <div id="mapid"></div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-4">
            <!-- <div class="btn-group"
                 role="group">
                <button type="button"
                        class="btn btn btn-warning"
                        onClick="{{selectTimeRange}}">Search by time period</button>
                <button type="button"
                        class="btn btn btn-warning">Filter</button>
            </div> -->

            <form method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <label class=""
                               for="datepicker"
                               style="font-size: 1.5rem; color: tomato">Select
                            date</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="">
                            {{form.start_date}}
                        </div>
                        <p class="mx-2">-</p>
                        <div class="">
                            {{form.stop_date}}
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <label class=""
                               for="datepicker"
                               style="font-size: 1.5rem; color: tomato">Filter</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="">
                            {{form.log_filter}}
                        </div>
                        <p class="mx-2"></p>
                        <div class="">
                            {{form.search}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit"
                            class="btn btn-primary"
                            name="button">Submit</button>


                    <br>

                </div>



            </form>
        </div>
        <div class="col">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Host</th>
                        <th scope="col">Status</th>
                        <th scope="col">Country</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{o.host}}</td>
                        <td>{{o.status}}</td>
                        <td>{{o.country}}</td>
                        <td>{{o.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<script type="text/javascript" scr="{% static 'index/index.js' %}">
    var loc = JSON.parse("{{loc}}".replace(/&#39;/g, "\""));
</script>
{% endblock %}