<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block body_block %}
<div class="d-flex justify-content-center">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}    
    <div class="row">
            {{ form.as_p }}
    </div>
    <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>


{% if data %}
<br>
<div class="container-fluid">
        <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Host</th>
                        <th scope="col">Time</th>
                        <th scope="col">Request</th>
                        <th scope="col">Status</th>
                        <th scope="col">Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{o.host}}</td>
                        <td>{{o.time}}</td>
                        <td>{{o.request}}</td>
                        <td>{{o.status}}</td>
                        <td>{{o.size}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endif %}
{% endblock %}